.emoji {
	// Styling: [https://github.com/twitter/twemoji#tips]
	// vertical-align: -0.1em;
	vertical-align: middle;

	box-sizing: content-box;
	margin: 0 0.05em 0 0.1em;
	background-color: transparent;

	width: 1em;
	max-width: none;
	height: 1em;
}
