.error-cont {
	@include flex($flow: "column nowrap", $align: center, $justify: center);

	padding-top: 25px;
}

.error-logo-cont {
	@include flex($align: center, $justify: "space-evenly");
	@include bg($-text-gray);
	@include fsize(12);

	opacity: 0.5;

	margin-bottom: 20px;
	border: 1px solid $-border;
	border-radius: 100px;
	padding: 2px 6px;

	width: 85px;

	font-weight: bold;
}

.error-logo {
	filter: grayscale(1);

	width: 10px;
}

.error-msg-1 {
	@include c($-text-gray-dark);
	@include fsize(20);

	font-weight: bold;
}

.error-msg-2 {
	@include c($-text-gray-mid);
	@include fsize(14);

	padding-top: 10px;

	max-width: 375px;

	text-align: center;
}

.error-btn-cont {
	margin-top: 15px;
}

.found-versions-cont {
	padding: 3px 0;
}
