.version-cont {
	margin-top: 5px;
	padding: 5px;

	.current-version-cont {
		@include flex($dis: inline-flex, $align: center);
		@include cur;
	}

	.current-version {
		@include c($-text-gray);
		@include fsize(13);
	}

	.current-version:hover {
		@include underline;
	}
}

.versions-list-cont {
	@include bg($c-white);

	position: absolute;

	margin-top: 5px;
	box-shadow: 0 0 1px $-shadow-border, 0 20px 55px -8px $-shadow;
	border-radius: 4px;
	padding: 5px 0;

	width: calc(100% - 20px);
	pointer-events: all;
}

.v-list-wrapper {
	position: relative;

	max-height: 175px;
	overflow-y: auto;
}

.vlist-padding {
	padding: 0 5px;
}

.vlist-padding-top {
	padding: 5px 0 0;
}

.version-latest {
	@include bg($-version-latest);
	@include fsize(7);
	@include c($-text-white);

	margin-left: 5px;
	border-radius: 2px;
	padding: 2px;

	font-weight: bold;
	text-transform: uppercase;
}

.version-latest-not {
	@include bg($-version-outdated);
}

.version-option {
	@include flex($flow: null, $align: center);
	@include truncate;
	@include fsize(13);
	@include bg($c-white);
	@include cur;

	border-radius: 3px;
	padding: 8px 20px;
}

.version-option:hover,
.active-version {
	@include bg($-brand);
	@include c($-text-white);
	@include cur;
}

.version-option:hover .version-latest,
.active-version .version-latest {
	@include c($-brand);
	@include bg($c-white);
}

.version-option i {
	@include fsize(10);
}
