.copied-message {
	@include flex($flow: null, $align: center, $justify: flex-end);

	position: fixed;

	z-index: 10;
	transition: opacity 0.2s ease-in-out;

	padding: 10px;

	width: 100%;

	span {
		@include c($c-w);
		@include bg($c-b-2);
		@include fsize(14);

		border-radius: 4px;
		padding: 10px;

		font-weight: bold;
		line-height: 10px;
	}

	i {
		@include fsize(12);
	}
}
