.mtime {
	@include flex($flow: null, $justify: "flex-end");
	@include fsize(11);

	margin-left: 10px;
	padding-top: 20px;

	.long {
		@include c($c-g-1, "!important");
	}
}

.arrownav {
	@include flex($align: center, $justify: "space-evenly");

	margin-top: 30px;
	margin-bottom: 10px;

	.arrow {
		@include flex($align: center, $justify: center, $grow: "1", $shrink: "1");
		@include fsize(14);

		margin: 0 5px;
		padding: 5px;

		width: 120px;

		font-weight: bold;

		.arrow span {
			max-width: 50%;
		}
	}
}

.footer {
	@include flex($flow: "row wrap");

	margin-top: 30px;
	border-top: 1px solid $cc22;
	padding: 5px;

	.section {
		@include c($cc23);

		padding: 15px;

		min-width: 150px;

		.title {
			padding-bottom: 10px;

			font-weight: bold;
		}

		.content {
			@include flex($flow: "row wrap", $align: "flex-start", $justify: "flex-start");

			.link {
				@include c($cc23, "!important");

				// [https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items]
				flex: 1 1 250px;

				margin: 0 10px 0 -10px;
				border-radius: 3px;
				padding: 3px 10px;

				&:hover {
					@include bg($c-g-3);
				}
			}

			.img {
				@include bg($c-tr);

				width: 15px;
			}
		}
	}
}

.copyright {
	@include flex($align: center, $justify: center);
	@include fsize(12);
	@include c($cc10);

	margin-top: 10px;

	a {
		@include bg($cc7);
		@include c($cc10);

		border-radius: 100px;
		padding: 1px 10px;
	}

	i {
		@include fsize(9);
	}
}
