%overlay {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.main-overlay {
	@extend %overlay;
	@include bg($c-tr);

	// The highest z-index used.
	z-index: 4;
}

.sidebar-overlay {
	@extend %overlay;
	@include bg($cc13);

	z-index: 2;
	transition: opacity 0.3s ease-in-out;
}
