.sb-footer {
	@include flex($align: center, $justify: center);

	filter: grayscale(10);

	margin-bottom: -40px;
	padding: 50px 0 15px;

	color: #afafaf;
	font-size: 12px;

	.img {
		opacity: 0.3;

		margin-top: -3px;

		img {
			width: 13px;
		}
	}

	.name {
		font-weight: bold;

		a {
			color: #afafaf;
			text-decoration: none;

			&:active {
				text-decoration: underline;
			}
		}
	}
}
