.sb-footer {
	@include flex($align: center, $justify: center);
	@include c($cc10);
	@include fsize(12);

	filter: grayscale(10);

	margin-bottom: -40px;
	padding: 50px 0 15px;

	.img {
		opacity: 0.3;

		margin-top: -3px;

		img {
			width: 13px;
		}
	}

	.name {
		font-weight: bold;

		a {
			@include c($cc10);

			text-decoration: none;

			&:active {
				text-decoration: underline;
			}
		}
	}
}
