// Get main/top-level imports.
@import "mixins";

// Button UI.

%btn {
	@include c($c-g-12);
	@include noselect;
	// Defaults to a white button.
	@include bg($c-w);

	transition: box-shadow 0.2s ease-in-out;
	cursor: pointer;

	border: 1px solid $cc3;
	border-radius: 4px;
}

.btn {
	@extend %btn;

	&:hover {
		box-shadow: 0 0 0 3px $cc4;
	}

	&:active {
		opacity: 0.7;
	}

	&-blue {
		@include bg($c-b-2);
		@include c($c-w);

		border: 1px solid $c-tr;
		border-bottom: 1px solid $cc5;
	}

	&-home {
		padding: 6px 10px;

		font-size: 12px;
		font-weight: bold;
	}
}
