/*transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1); height: 0; overflow-y: hidden; height: 138.96px*/

/*@keyframes animate-fadein {
	0% {
		transform: translateY(-15px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.animate-fadein {
	animation-name: animate-fadein;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}*/

@keyframes animate-fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.animate-fadein {
	animation-name: animate-fadein;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes highlight {
	0% {
		/*background: #ffe6b3;*/
		background: #ffc758;
	}

	50% {
		background: #ffffff;
	}
}

/* [animation resources] */

/* [source::api](http://www.w3schools.com/cssref/css3_pr_animation.asp)
   [source](http://stackoverflow.com/questions/33835096/css-to-pan-background-image-back-and-forth)
*/

.highlight {
	animation-name: highlight;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.animate-icon {
	animation-name: animate-icon;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes animate-icon {
	0% {
		background: #699935;
		/*       opacity: 1; *//*       transform: scale(.4); *//*       background: #699935; */
	}

	80% {
		/*       opacity: 0; *//*       transform: scale(.6); */
	}

	100% {
		/*       opacity: 0; *//*       transform: scale(3); */
		background: #699935;
	}
}

/*.animate-pulse-fade {
	animation-name: animate-pulse-fade;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes animate-pulse-fade {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
*/

.animate-pulse {
	animation-name: animate-pulse;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes animate-pulse {
	0% {
		transform: translate3d(0, 0, 0) scale(0.5);
	}

	25% {
		transform: translate3d(0, 0, 0) scale(0.4);
	}

	50% {
		transform: translate3d(0, 0, 0) scale(0.6);
		/*opacity: 0;*/
	}/*100% {*//*transform: translate3d(0, 0, 0) scale(0.5);*//*opacity: 0;*//*}*/
}
