/* App styles here. */

body {
	margin: 0;
	font-family: -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Helvetica,
                 Arial,
                 sans-serif,
                 "Apple Color Emoji",
                 "Segoe UI Emoji",
                 "Segoe UI Symbol";
	font-size: 16px;
	/*overflow-y: scroll;*/
}

.app {
	display: flex;
	flex-flow: row nowrap;
	/*justify-content: flex-start;*//*align-items: stretch;*/
	width: 1280px;
	margin: auto;
	min-height: calc(100vh);
	height: auto;
	/*overflow-x: hidden;*/
}

.sidebar {
	user-select: none;
	touch-callout: none;
	font-size: 16px;
	/*width: 300px;*/
	background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #fcfcfc);
	display: flex;
	flex: 1 0 300px;
	border-right: 1px solid #dddddd;
	flex-flow: column nowrap;
	justify-content: space-between;
}

/* Make the sidebar fixed. */

.sidebar {
	position: fixed;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	/* Make scrolling smooth in iOS */
	overflow-scrolling: touch;
	width: 240px;
}

/* Scrollbar-START:MacOS Style */

/*
Scrollbar Style Sources:
[https://stackoverflow.com/a/24405833]
[https://gist.github.com/jbrewer/2571697]
[https://stackoverflow.com/a/33809641]
[https://gist.github.com/howar31/127f71018a9ef025291f9c76293972ea]
[https://codepen.io/waterplea/pen/dVMopv]
[https://poselab.com/en/blog/custom-scrollbars-in-webkit/]
[https://stackoverflow.com/a/9356321]
[https://css-tricks.com/custom-scrollbars-in-webkit/]
[https://css-tricks.com/almanac/properties/s/scrollbar/]
[https://scotch.io/tutorials/customize-the-browsers-scrollbar-with-css]
 */

/*::-webkit-scrollbar {
	width: 15px;
	height: 15px;
	background: #f8f8f8;
}

::-webkit-scrollbar:window-inactive {
	background: #f8f8f850;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background: #c1c1c1;
	border-radius: 1000px;
	border: 4px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #c1c1c150;
	border-radius: 1000px;
	border: 4px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background: #7d7d7d;
	border: 4px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:window-inactive:hover {
	background: #c1c1c150;
	border: 4px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-track {
	background: 0 0;
	border-radius: 0;
}

::-webkit-scrollbar-track:vertical {
	background: 0 0;
	border-radius: 0;
	border-left: 1px solid #eaeaea;
}

::-webkit-scrollbar-track:horizontal {
	background: 0 0;
	border-radius: 0;
	border-top: 1px solid #eaeaea;
}

::-webkit-scrollbar-track:vertical:window-inactive {
	border-left: 1px solid #eaeaea50;
}

::-webkit-scrollbar-track:horizontal:window-inactive {
	border-top: 1px solid #eaeaea50;
}

::-webkit-scrollbar-corner {
	background: #ffffff;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}*/

/* Scrollbar-END:MacOS Style */

/*::-webkit-scrollbar-button {
	background-size: 100%;
	height: 10px;
	width: 10px;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button:horizontal:increment {
	background-image: url(../img/arrow-down.png);
}

::-webkit-scrollbar-button:horizontal:decrement {
	background-image: url(../img/arrow-down.png);
}

::-webkit-scrollbar-button:vertical:increment {
	background-image: url(../img/arrow-down.png);
}

::-webkit-scrollbar-button:vertical:decrement {
	background-image: url(../img/arrow-down.png);
}*/

/*::-webkit-scrollbar-button:vertical:decrement {
	background-image: url(../img/arrow-down.png),
                      -webkit-linear-gradient(left, #f9f9f9 50%, #e2e2e2 100%);
	background-repeat: no-repeat;
	background-position: 3px 4px, 0 0;
}

::-webkit-scrollbar-button:vertical:increment {
	background-image: url(../img/arrow-down.png),
                      -webkit-linear-gradient(left, #f9f9f9 50%, #e2e2e2 100%);
	background-repeat: no-repeat;
	background-position: 3px 5px, 0 0;
}

::-webkit-scrollbar-button:horizontal:decrement {
	background-image: url(../img/arrow-down.png),
                      -webkit-linear-gradient(top, #f9f9f9 50%, #e2e2e2 100%);
	background-repeat: no-repeat;
	background-position: 4px 3px, 0 0;
}

::-webkit-scrollbar-button:horizontal:increment {
	background-image: url(../img/arrow-down.png),
                      -webkit-linear-gradient(top, #f9f9f9 50%, #e2e2e2 100%);
	background-repeat: no-repeat;
	background-position: 5px 3px, 0 0;
}*/

/*corner resizer*/

/*::-webkit-resizer {
     background: #f2f2f2 url(scrollbar/resizer.png) no-repeat 2px 4px;
     border-top: 1px solid #d9d9d9;
     border-left: 1px solid #d9d9d9
}*/

/* SCROLL Button:START; */

/*::-webkit-scrollbar-button:end {
	display: block;
}

::-webkit-scrollbar-button:start {
	display: none;
}

::-webkit-scrollbar-button:disabled {
	display: none !important;
}

::-webkit-scrollbar:vertical:corner-present {
	border-bottom-width: 0;
}

::-webkit-scrollbar-track:vertical:disabled:corner-present {
	margin-bottom: 5px;
}

::-webkit-scrollbar-button:vertical {
	height: 20px;
	border-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-button.png) 2 0 2 0;
	border-color: transparent;
	border-width: 2px 0;
}

::-webkit-scrollbar-button:vertical:decrement {
	background-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-decrement-arrow.png),
                      url(resources/vertical-button-background.png);
	background-repeat: no-repeat, repeat-y;
	background-position: 3px 3px, 0 0;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
	border-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-button-hover.png) 2 0 2 0;
	background-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-decrement-arrow.png),
                      url(resources/vertical-button-background-hover.png);
}

::-webkit-scrollbar-button:vertical:decrement:active {
	border-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-button-active.png) 2 0 2 0;
	background-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-decrement-arrow.png),
                      url(resources/vertical-button-background-active.png);
}

::-webkit-scrollbar-button:vertical:decrement:window-inactive {
	border-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-button-inactive.png) 2 0 2 0;
	background-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-decrement-arrow.png),
                      url(resources/vertical-button-background-inactive.png);
}

::-webkit-scrollbar-button:vertical:increment {
	background-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-increment-arrow.png),
                      url(resources/vertical-button-background.png);
	background-repeat: no-repeat, repeat-y;
	background-position: 3px 8px, 0 0;
}

::-webkit-scrollbar-button:vertical:increment:hover {
	border-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-button-hover.png) 2 0 2 0;
	background-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-increment-arrow.png),
                      url(resources/vertical-button-background-hover.png);
}

::-webkit-scrollbar-button:vertical:increment:active {
	border-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-button-active.png) 2 0 2 0;
	background-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-increment-arrow.png),
                      url(resources/vertical-button-background-active.png);
}

::-webkit-scrollbar-button:vertical:increment:window-inactive {
	border-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-button-inactive.png) 2 0 2 0;
	background-image: url(http://trac.webkit.org/export/41842/trunk/LayoutTests/scrollbars/resources/vertical-increment-arrow.png),
                      url(resources/vertical-button-background-inactive.png);
}

::-webkit-scrollbar-button:double-button:vertical:start:decrement,::-webkit-scrollbar-button:vertical:start:decrement {
	height: 14px;
	border-bottom-width: 0;
	background-position: 3px 3px, 0 0;
}

::-webkit-scrollbar-button:double-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:start:increment {
	background-position: 3px 4px, 0 0;
}

,::-webkit-scrollbar-button:double-button:vertical:end:decrement {
	background-position: 3px 8px, 0 0;
}

::-webkit-scrollbar-button:double-button:vertical:end:increment {
	height: 14px;
	border-top-width: 0;
	background-position: 3px 4px, 0 0;
}

::-webkit-scrollbar-button:vertical:end:increment:corner-present {
	border-bottom-width: 0;
	height: 19px;
}*/

/* ::-webkit-scrollbar-button:double-button:vertical:end:increment:corner-present,::-webkit-scrollbar-button:vertical:end:increment:corner-present {
    height: 13px
} */

/* SCROLL Button:END; */

/*
iOS Bug: overflow-scrolling/fixed causes for the sidebar elements
to become invisible when header scrolling. This seems to solve the issue.

[https://stackoverflow.com/a/3921870]
[https://stackoverflow.com/a/3461770]
[https://www.drupal.org/project/flexslider/issues/1748514]
[https://css-tricks.com/forums/topic/safari-for-ios-z-index-ordering-bug-while-scrolling-a-page-with-a-fixed-element/]
[https://github.com/scottjehl/Device-Bugs/issues/8]
[https://stackoverflow.com/a/19172250]
[https://github.com/janpaepke/ScrollMagic/issues/467]
[https://davidwalsh.name/translate3d]
[https://github.com/nolimits4web/Swiper/issues/45]
[https://stanko.github.io/ios-safari-scroll-position-fixed/]
[https://github.com/scottjehl/Device-Bugs/issues/8#issuecomment-5742063]
[https://stackoverflow.com/a/11634004]
[https://stackoverflow.com/a/36606198]
[https://stackoverflow.com/a/11782061]
[https://github.com/leafo/sticky-kit/issues/213#issuecomment-291172357]
[https://stackoverflow.com/a/10122689]
[https://stackoverflow.com/a/43188105]
*/

.sidebar > * {
	transform: translateZ(0);
}

.markdown {
	/*overflow: auto;*/
	margin-left: 240px;
	width: 100%;
}

.sidebar-show {
	transform: translate3D(0, 0, 0) !important;
}

.menu {
	margin-top: 50px;
	width: 100%;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*.submenu {}*/

/*.menu-item {}*/

.menu-logo {
	margin-bottom: 20px;
}

.menu-logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.menu-logo img {
	max-width: 75%;
}

.menu-section-cont {
	margin-left: 20px;
	border-left: 1px solid #dddddd;
}

.l-1 {
	font-weight: bold;
	/* background: rgba(0, 0, 0, 0.03); */
	padding: 10px 0 10px 20px;
	/* border-radius: 5px; *//* border-bottom: 1px dashed #dddddd; *//*text-transform: capitalize;*/
}

.l-2 {
	padding: 8px 25px 8px 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.l-3 {
	padding: 6px 25px 6px 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 15px;
	border-right: 2px solid transparent;
}

.l-3:hover {
	border-right: 2px solid #2578f8;
}

.l-2:hover,
.l-3:hover {
	background: #f7f7f7;
}

ul.file-headers {
	margin-left: 20px;
	border-left: 1px solid #dddddd;
}

.headings-cont {
	/*opacity: 0;*/
	height: 0;
	overflow: hidden;
	/*transition: height 0.25s ease-out, opacity 0.4s ease-out;*/
	backface-visibility: hidden;
}

/*
.l-3:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    height: 2px;
    width: 12px;
    background: #505d6b;
    opacity: .3;
} */

.link,
.link:visited {
	/*color: #505d6b;*/
	color: #333333;
	text-decoration: none;
	position: relative;
}

.active-page {
	background-image: linear-gradient(to right, #ffffff, #fdfdfd, #fbfbfb, #f9f9f9, #f7f7f7);
	/*border-right: 3px solid #6f42c1;*//* border-left: 3px solid #1267e8; *//* padding-bottom: 7px !important; */
}

.active-page .link {
	color: #1267e8;
	color: #0f91ee;
	color: #2578f8;
	font-weight: bold;
}

.logo-devdocs {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
	filter: grayscale(10);
	margin-bottom: -40px;
	padding: 50px 0 15px 0;
	/*opacity: 1;*/
}

.logo-devdocs-img-cont {
	opacity: 0.5;
	margin-top: -3px;
}

.logo-devdocs img {
	width: 13px;
}

.logo-devdocs-text {
	margin-left: 5px;
	font-weight: 600;
	/*color: #555;*/
	color: #b8b8b8;
}

.btn {
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-white {
	color: #333333;
	background: white;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
}

.btn-blue {
	/*background: #699935;*//*background: #0f91ee;*/
	background: #2578f8;
	color: #ffffff;
}

.btn:hover {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.btn:active {
	opacity: 0.7;
}

.btn-home {
	padding: 8px 10px;
	font-weight: 700;
	font-size: 12px;
}

.error-cont {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.error-logo-cont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	padding-top: 50px;
	display: none;
}

.error-logo {
	filter: grayscale(1);
}

.error-msg-1 {
	font-weight: bold;
	/*color: #444444;*/
	color: #999999;
	/*font-size: 24px;*/
	font-size: 35px;
	/*padding-top: 20px;*/
}

.error-msg-2 {
	color: #6d6d6d;
	/*padding-top: 20px;*/
	padding-top: 10px;
	width: 200px;
	text-align: center;
}

.error-btn-cont {
	/*margin-top: 40px;*//*margin-top: 35px;*/
	margin-top: 25px;
}

.loader-top {
	position: fixed;
	z-index: 3;
	width: 0%;
	height: 2px;
	left: 0;
	background: #2578f8;
	transition: all 0.2s ease-in-out;
}

.main-overlay {
	/* The highest z-index used. */
	z-index: 4;
	position: fixed;
	/*background: rgba(255, 255, 255, 0.1);*//*background: rgba(0, 0, 0, 0.2);*/
	background: transparent;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*transition: opacity 0.3s ease-in-out;*/
}

.sidebar-overlay {
	z-index: 2;
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	/* background: transparent; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*display: none;*/
	transition: opacity 0.3s ease-in-out;
	/* opacity: 0; */
}

.topbar {
	display: flex;
	width: 100%;
	background: #fbfbfb;
	font-weight: bold;
	padding: 5px 20px 5px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
	display: none;
	z-index: 1;
	backdrop-filter: blur(10px);
}

/* [https://codepen.io/hoshts/pen/BHoij?editors=1100] */

.topbar-loader {
	margin: 0 15px 0 5px;
}

.mr5 {
	margin-right: 5px;
}

.loader-img {
	height: 16px;
	width: 16px;
}

.tb-logo {
	/*cursor: pointer;*/
	margin-left: -5px;
	margin-right: -5px;
}

.tb-shadow {
	top: -15px;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 0;
	position: fixed;
	box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.05);
	border-radius: 450px/15px;
	display: none;
	transition: box-shadow 0.2s ease-in-out;
}

/*.tb-percent-scrolled {
	position: fixed;
	width: 0;
	height: 2px;
	background: #fab733;
	z-index: 1;
	bottom: -1px;
	left: 0;
}*/

.tb-menu {
	padding: 7px;
	cursor: pointer;
	margin-left: -10px;
	font-size: 18px;
}

.tb-menu:active {
	opacity: 0.7;
}

.topbar-scroll {
	position: absolute;
	top: 0;
	left: 0;
	/*background: #2578f8;*//*background: #2578f8;*//*background: #5a79c7;*/
	background: rgba(90, 121, 199, 0.98);
	/* background: #c75a5a; *//* background: #7c5ac7; *//* background: #5a83c7; *//* background: #3367d6; *//* background: white; *//* background: #fff5cc; *//* background: #f3f3f3; *//* color: #71471c; *//* color: #2578f8; */
	color: white;
	width: 100%;
	padding: 8px 20px;
	z-index: 1;
	margin-top: 42px;
	font-size: 12px;
	font-weight: 700;
	display: flex;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	border-top: 1px solid rgba(0, 0, 0, 0.0975);
	border-bottom: 1px solid #71471c12;
	backdrop-filter: blur(10px);
}

.topbar-scroll:active {
	opacity: 0.5;
}

.scroll-def {
	font-size: 12px;
	padding: 4px 8px;
	border-radius: 100px;
	/*background: #ffffff;*/
	border: 1px solid rgba(0, 0, 0, 0.0975);
}

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.fixed {
	position: fixed;
}

/*.scroll-dynamic {
	display: flex;
}*/

.scroll-df-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.scroll-icon-middle {
	margin-top: 1px;
	padding: 0 4px;
}

.scroll-icon-right {
	margin-top: 1px;
	padding: 0 0 0 4px;
}

.splash-loader {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*border-radius: 4px 4px 0px 0px;*/
	position: fixed;
	/*	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;*//* background: #699935; *//*background: #f4f4f4;*//*background: #f1f1f1;*//*background: rgba(0, 0, 0, 0.5);*//*background: rgba(255, 255, 255, 0.7);*//*background: #699935;*//*background: #e2e2e2;*//*background: #eeeeee;*//*background: rgba(255, 255, 255, 0.4);*//*background: linear-gradient(180deg,rgb(128, 180, 71), rgba(105,153,53,1));*//*background: linear-gradient(180deg,#77AB59, #36802D);*//*background: #699935;*/
	background: white;
	transition: opacity 0.4s ease-in-out;
	/*opacity: 0;*//*opacity: 1;*/
	z-index: 4;
	/*transform: translateY(-100px);*/
}

.splash-loader-cont {
	/*transform: translateY(-10%);*/
	width: 100%;
	height: 100%;
	/*top: 0;*//*left: 0;*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.splash-loader-icon-cont {
	width: 70px;
	height: 70px;
	min-width: 70px;
	/*border: 2px solid white; *//* border-radius: 30px/32px; *//*margin-bottom: 30px;*//*margin-top: -100px;*//*transform: translateY(0);*//*transition: transform 0.4s ease-in-out;*/
	transform: translate3d(0, 0, 0);
}

.splash-loader-icon {
	/*width: 900px;*//*height: 900px;*/
	border-radius: 400px 1000px 0 1000px;
	/*background: #699935;*//*background: #f3f3f3;*//*background: #b1b1b1;*//*background: #d8d8d8;*//*transform: translate3d(0, 0, 0) scale(0.5);*/
	box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.02);
	width: 100%;
	height: 100%;
	border-radius: 100px 250px 0 250px;
	/*transition: background 0.2s ease-in-out, transform 0.8s ease-in-out;*/
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/*.splash-loader-icon:after {
  content:"";
  display:block;
  width: 100%;
  height: 100%;
  border-radius: 100px 250px 0 250px;
  border: 5px solid #ffffffc9;
  position:absolute;
  animation: pulse 2s ease 0s infinite;
}*/

.sl-icon-off {
	/*background: #d8d8d8;*//*background: white;*//*background: #ffffff;*//*background: #d8d8d8;*//*background: #727272;*//*background: #8c8c8c;*//*background: #b8b8b8;*//*background: #699935;*//*background: white;*/
	background: #699935;
}

.sl-icon-on {
	/*background: #699935;*/
	background: white;
	/*background: white;*/
}

.loader-cont {
	background: red;
	width: 60px;
	height: 5px;
	/* border: 0px solid rgba(255, 255, 255, 0.99); *//*border: 1px solid #727272;*//*border: 1px solid #8c8c8c;*//* box-shadow: inset 0px 1px 0px 0px #8c8c8c14; *//* border: 2px solid transparent; *//*background: #73a73af7;*//*background: #d8d8d8;*//*background: #c0c0bf;*//*background: #e2e2e2;*//*background: #d4d4d4;*//*background: #e6e6e7;*/
	background: rgba(255, 255, 255, 0.2);
	/* background: #727272; */
	border-radius: 100px;
	display: flex;
	/* color: #699935; */
	overflow: hidden;
	transition: opacity 0.2s ease-in-out;
	/*margin-top: 30px;*/
	background-clip: content-box;
}

.loader {
	/*width: 70%;*//*background: white;*/
	width: 0%;
	/*background: #727272;*//*background: #8c8c8c;*//*background: #b8b8b8;*/
	background: white;
	/*	    background: -webkit-gradient(linear, left top, right top,
                    color-stop(0%,#01dcd7),
                    color-stop(23%,#086df2),
                    color-stop(50%,#11a1e3),
                    color-stop(78%,#9350ad),
                    color-stop(100%,#fb4a71));*//* background-size: 400px 5px; */
	transition: all 0.2s ease-in-out;
	/*transition: width 0.2s cubic-bezier(1,0,.62,.86);*/
}

.none {
	display: none !important;
}

.hidden {
	visibility: hidden;
}

/* https://css-tricks.com/removing-the-dotted-outline/ */

a {
	outline: 0;
}

.noselect {
	user-select: none;
	touch-callout: none;
}

.bold {
	font-weight: bold;
}

.pnone {
	pointer-events: none;
}

.opa1 {
	opacity: 1;
}

.opa0 {
	opacity: 0;
}

.topbar, .markdown {
	transform: translate3D(0, 0, 0);
	transform: translate3D(calc(0), 0, 0);
	transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.2s ease-in-out;
}

.mobile-slide {
	transform: translate3D(240px, 0, 0);
	transform: translate3D(calc(240px), 0, 0);
}

.tdelay05 {
	transition-delay: 0.05s !important;
}

.tdelay1 {
	transition-delay: 0.1s !important;
}

.tdelay15 {
	transition-delay: 0.15s !important;
}

.tdelay2 {
	transition-delay: 0.2s !important;
}

.tdelay25 {
	transition-delay: 0.25s !important;
}

.markdown {
	will-change: contents;
}

.show-code-cont {
	border-radius: 3px;
	display: flex;
	background-clip: padding-box;
	background: #fbfbfb;
	border: 1px solid transparent;
	cursor: pointer;
	margin-bottom: 15px;
	border: 1px solid rgba(0, 0, 0, 0.095);
}

.show-code-cont:active span,.show-code-cont:hover span {
	color: #2578f8;
}

.show-code-cont:hover, .show-code-cont:active {
	border: 1px solid #2578f8;
}

.code-template-cont {
	display: flex;
	flex-flow: column nowrap;
	width: 50%;
	padding: 5px;
	transform: scale(0.8);
}

.code-template {
	background: #e3e3e3;
	padding: 6px 10px;
	margin-right: 10px;
	border-radius: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.code-template-line {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.code-template-left-pad {
	margin-left: 25px;
}

.code-template-len40 {
	width: 40px;
}

.code-template-len50 {
	width: 50px;
}

.code-template-len70 {
	width: 70px;
}

.code-template-len80 {
	width: 80px;
}

.code-template-len100 {
	width: 100px;
}

.code-template-len130 {
	width: 130px;
}

.show-code-message-cont {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.show-code-file-info {
	font-size: 12px;
	margin-top: 5px;
	color: #999999;
}

.show-code-message-cont div:first-child {
	min-width: 50%;
	padding: 3px;
}

/* Used SVG to CSS converter: [https://codepen.io/elliz/full/ygvgay] */

/* Used SVG to CSS converter: [https://websemantics.uk/tools/svg-to-background-image-conversion/] */

.mloader {
	border-radius: 50%;
	border: 3px solid;
	border-color: #555555 #dddddd #dddddd;
	animation: animate-spin 0.5s linear infinite;
	position: relative;
}

@keyframes animate-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader-base {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*.loader-bg-base {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='100px' height='100px' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cscript type='text/ecmascript' xlink:href='//preloaders.net/jscripts/smil.user.js'/%3E%3Cg%3E%3Ccircle cx='16' cy='64' r='16' fill='%23999999'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23bbbbbb' transform='rotate(45,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23d4d4d4' transform='rotate(90,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23ebebeb' transform='rotate(135,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f3f3f3' transform='rotate(180,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f3f3f3' transform='rotate(225,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f3f3f3' transform='rotate(270,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f3f3f3' transform='rotate(315,64,64)'/%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64' calcMode='discrete' dur='640ms' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E");
}*/

.loader-bg-dark {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='100px' height='100px' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cscript type='text/ecmascript' xlink:href='//preloaders.net/jscripts/smil.user.js'/%3E%3Cg%3E%3Ccircle cx='16' cy='64' r='16' fill='%23666666'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23999999' transform='rotate(45,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23bfbfbf' transform='rotate(90,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e0e0e0' transform='rotate(135,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23ededed' transform='rotate(180,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23ededed' transform='rotate(225,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23ededed' transform='rotate(270,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23ededed' transform='rotate(315,64,64)'/%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64' calcMode='discrete' dur='640ms' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E");
}

/*
.loader-bg-darker {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='100px' height='100px' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cscript type='text/ecmascript' xlink:href='//preloaders.net/jscripts/smil.user.js'/%3E%3Cg%3E%3Ccircle cx='16' cy='64' r='16' fill='%23333333'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23777777' transform='rotate(45,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23a9a9a9' transform='rotate(90,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23d6d6d6' transform='rotate(135,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e7e7e7' transform='rotate(180,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e7e7e7' transform='rotate(225,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e7e7e7' transform='rotate(270,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e7e7e7' transform='rotate(315,64,64)'/%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64' calcMode='discrete' dur='640ms' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E");
}

.loader-bg-darkest {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='100px' height='100px' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cscript type='text/ecmascript' xlink:href='//preloaders.net/jscripts/smil.user.js'/%3E%3Cg%3E%3Ccircle cx='16' cy='64' r='16' fill='%23000000'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23555555' transform='rotate(45,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23949494' transform='rotate(90,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23cccccc' transform='rotate(135,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e1e1e1' transform='rotate(180,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e1e1e1' transform='rotate(225,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e1e1e1' transform='rotate(270,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e1e1e1' transform='rotate(315,64,64)'/%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64' calcMode='discrete' dur='640ms' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E");
}

.loader-bg-light {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='100px' height='100px' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cscript type='text/ecmascript' xlink:href='//preloaders.net/jscripts/smil.user.js'/%3E%3Cg%3E%3Ccircle cx='16' cy='64' r='16' fill='%23c2c2c2'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23d6d6d6' transform='rotate(45,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23e5e5e5' transform='rotate(90,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f3f3f3' transform='rotate(135,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f8f8f8' transform='rotate(180,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f8f8f8' transform='rotate(225,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f8f8f8' transform='rotate(270,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f8f8f8' transform='rotate(315,64,64)'/%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64' calcMode='discrete' dur='640ms' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E");
}

.loader-bg-lighter {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='100px' height='100px' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cscript type='text/ecmascript' xlink:href='//preloaders.net/jscripts/smil.user.js'/%3E%3Cg%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f0edf0'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f5f3f5' transform='rotate(45,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23f9f7f9' transform='rotate(90,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23fcfbfc' transform='rotate(135,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23fdfdfd' transform='rotate(180,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23fdfdfd' transform='rotate(225,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23fdfdfd' transform='rotate(270,64,64)'/%3E%3Ccircle cx='16' cy='64' r='16' fill='%23fdfdfd' transform='rotate(315,64,64)'/%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64' calcMode='discrete' dur='640ms' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E");
}*/

.expander-close-cont {
	border-radius: 1000px;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	cursor: pointer;
}

.expander-close {
	position: absolute;
	margin-left: -23px;
	margin-top: -3px;
	padding: 5px;
	background: 0 0;
	opacity: 0.3;
}

.expander-close:hover {
	color: #2578f8;
	opacity: 1;
}

.expander-close:active {
	color: #2578f8;
	opacity: 0.5;
}

.copied-message {
	position: absolute;
	position: fixed;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	/*bottom: 0;*/
	transition: opacity 0.2s ease-in-out;
}

.copied-message span {
	padding: 10px;
	color: white;
	background: #2578f8;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	line-height: 10px;
	/*box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);*/
}

.copied-message i {
	font-size: 12px;
}

::-moz-selection {
	color: inherit;
}

::selection {
	color: inherit;
}

.link-socials {
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
	align-items: flex-start;
	width: 100%;
	font-size: 20px;
	padding: 5px 25px;
	margin-top: 10px;
	border: 3px;
}

.social-link {
	/* filter: grayscale(1); *//* opacity: 0.5; *//*     transition: all 0.15s ease-in-out; */
	padding: 2px 7px 0 0;
	/* 	color: #999999; */
}

.social-link:hover {
	/*     filter: grayscale(0); *//*     opacity: 1; */
}

.social-link a {
	/* 	color: #999999; *//* 	color: #aaa;  */
	color: #c6c5c5;
}

a.social-link:active, a.social-link:hover {
	color: #444444;
}

.menu-arrow {
	padding-right: 5px;
}

.menu-arrow-active {
	color: #2578f8;
}

.code-block-actions-cont {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 5px;
	font-family: -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Helvetica,
                 Arial,
                 sans-serif,
                 "Apple Color Emoji",
                 "Segoe UI Emoji",
                 "Segoe UI Symbol";
}

.code-block-action {
	font-weight: 700;
	color: #999999;
	padding: 3px 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: none;
	margin-left: 10px;
	font-size: 13px;
	opacity: 0.4;
}

.code-block-action:hover, .code-block-action:active {
	color: #333333;
	opacity: 1;
}

.code-block-action i {
	margin-top: -3px;
}

.line-num {
	margin-right: 10px;
	color: #919191;
	border-right: 1px solid #c8c8c87a;
	padding: 10px;
	background: #fbfbfb;
}

@media (max-width: 366px) {
	.show-code-message-cont {
		font-size: 13px;
	}
}

@media (max-width: 1325px) {
	.app {
		width: 1100px;
	}

	.sidebar {
		flex: 1 0 240px;
	}
}

@media (max-width: 1125px) {
	.app {
		width: 1000px;
	}

	.sidebar {
		/*flex: 1 0 220px;*/
	}
}

@media (max-width: 1024px) {
	.app {
		width: auto;
	}
}

@media (min-width: 768px) {
	body {
		overflow-y: scroll;
	}

	.app {
		overflow-x: hidden;
	}

	.markdown {
		overflow: auto;
	}

	.tb-shadow {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.markdown {
		margin-left: 0;
	}

	.app {
		/* width: 900px; */
		flex-flow: column nowrap;
	}

	.topbar {
		display: flex;
		position: fixed;
		background: rgba(255, 255, 255, 0.95);
	}

	.menu {
		margin-top: 10px;
	}

	.sidebar {
		width: 280px;
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		transform: translate3D(-100%, 0, 0);
		transform: translate3D(calc(-100%), 0, 0);
		transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
		background: white;
		z-index: 2;
		border-right: 1px solid rgba(0, 0, 0, 0.15);
		will-change: transform;
	}/* To make the sidebar constantly show the y-scroller make the div
	dip/overflow. This or simply giving the .menu a min-height: 101%; also
	works. *//*	.logo-devdocs {
		margin-bottom: -40px;
	}*/

	.mobile-slide {
		transform: translate3D(280px, 0, 0);
		transform: translate3D(calc(280px), 0, 0);
	}

	.markdown-body {
		margin-top: 40px;
		padding: 15px;
		font-size: 15px;
	}

	.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6 {
		position: sticky !important;
		top: 42px;
		background: rgba(255, 255, 255, 0.95);
		backdrop-filter: blur(10px);
		/*padding: 8px 10px;*//*margin-left: -10px;*//*width: calc(100% + 20px);*//* width: 100%; *//*        padding: 8px 0px;
        margin-left: 0px;
        width: calc(100% + 0px);
        width: 100%;*/
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		text-overflow: initial;
		/* Full Width Tweak *//*font-size: 15px;*/
		border-radius: 0 !important;
		margin-left: -15px;
		width: calc(100% + 30px);
		padding: 10px 15px;
		/* Make scrolling smooth in iOS */
		overflow-scrolling: touch;
		z-index: 1;
		font-size: 18px;
		font-weight: 600;
		/*border-radius: 4px;*/
		border-bottom: 1px solid #eaecef;
		margin-top: 0;
		margin-bottom: 0;
	}/*
	.markdown h3::after {
		content: "";
		position: fixed;
		width: 23px;
		height: 100%;
		margin-top: -8px;
		right: 0;
		top: 0;
		background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
		background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
	}*/

	.header-spacer {
		padding-bottom: 24px;
	}

	.code-block-action {
		color: inherit;
		opacity: 1;
	}
}

@media (max-width: 324px) {
	/*	.app {
		width: auto;
	}*//*
	.scroll-df-text {
		max-width: 90px;
	}*/
}
